body {
    margin: 0px;
}


.site-header {
    grid-area: site-header
}

.sidebar {
    grid-area: sidebar
}

.main {
    grid-area: main
}

.site-footer {
    grid-area: site-footer
}




/* 
.container * {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "site-header site-header site-header site-header"
        "sidebar. main main main"
        "site-footer site-footer site-footer site-footer";

}

.box {
    border: 2px solid black;
    background-color: aquamarine;

} */

.container {
    display: grid;
    grid-template-columns: 250px auto 250px grid-template-rows: auto;
    grid-template-areas:
        "site-header site-header site-header site-header"
        "sidebar main main main"
        "site-footer site-footer site-footer site-footer";

}

.box {
    background-color: aquamarine;
    border: 2px solid red;
    color: #444;
    padding: 40px;

}